body {
    font-family: 'Lato', 'sans-serif';
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.header {
    padding: 24px 40px 25px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -0.7px;
}

.logo__other-text {
    color: #f06c64;
}

.navbar__list {
    margin: 18px 0 6px;
    display: flex;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    list-style: none;
}

.list__item {
    position: relative;
    padding: 0 14px;
}

.list__item:first-child {
    padding-left: 0;
}

.list__item:last-child {
    padding-right: 0;
}

.list__item a {
    color: #ffffff;
}

.list__item a:hover {
    color: #f06c64;
}

.list__item:not(:first-child)::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #505565;
    border-radius: 50%;
    position: absolute;
    left: -2px;
    bottom: 2px;
}

.slider {
    display: flex;
    background-color: #f06c64;
    padding: 52px 0px 64px;
}

.slider__button {
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__prev,
.slider__next {
    width: 20px;
    height: 30px;
    padding-right: 25px;
    border: none;
    background: none;
}

.slider__prev:hover,
.slider__next:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slider__prev {
    transform: rotate(180deg);
}

.slider__btn_left {
    padding: 0 0 0 16px;
}

.slider__btn_right {
    padding: 0 16px 0 0;
}

.slider__slider-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone, .phone__screen-wrapper {
    position: relative;
}

.shadow, .phone__shadow, .phone__container .first-screen {
    position: absolute;
}

.phone {
    width: 242px;
    height: 484px;
    background: url('assets/shadow.png') no-repeat;
    background-size: cover;
}

.horizontal_phone {
    width: 484px;
    height: 242px;
    bottom: 0;
    background: url('assets/horizontal_shadow.png') no-repeat;
    background-size: cover;
}

.horizontal_phone .phone__container {
    transform: rotate(90deg);
    left: 119px;
    bottom: -96px;

}

.vertical_phone {
    top: 0;
}

.phone__container {
    position: absolute;
    left: -2px;
    z-index: 2;
}

.phone__shadow {
    right: 0;
    bottom: 0;
    z-index: 1  ;
}

.phone__screen-wrapper {
    position: absolute;
    width: 188px;
    height: 333px;
    top: 66px;
    left: 14px;
    overflow: hidden;
    z-index: 3;
}

.horizontal_phone .phone__screen-wrapper {
    top: -59px;
    left: 132px;
    transform: rotate(-90deg);
}

.first-screen {
    position: absolute;
    top: -135px;
    left: -13px;
}

.second-screen {
    position: absolute;
    top: -125px;
    left: -275px;
    transform: rotate(90deg);
}

.services {
    padding: 68px 39px 0;   
    color: #666d89;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    background-color: #f2f2f2;
}

.services__title {
    margin: 0;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
}

.services__intro-text {
    margin-top: 27px;
}

.services__items {
    padding-top: 16px;
    padding-bottom: 44px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-between;

}

.service {
    display: flex;
    align-items: flex-start;
    padding-top: 11px;
    max-width: 300px;
}

.service__img {
    height: 60px;    
}

.service .text-container {
    padding-left: 18px;
    text-overflow: hidden;
}

.service__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.service__description {
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
}