body {
    font-family: 'Lato', 'sans-serif';
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.header {
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.header .wrapper {
    padding: 24px 83px 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -0.7px;
}

.logo__other-text {
    color: #f06c64;
}

.navbar__list {
    margin: 18px 0 6px;
    display: flex;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    list-style: none;
}

.list__item {
    position: relative;
    padding: 0 14px;
}

.list__item:first-child {
    padding-left: 0;
}

.list__item:last-child {
    padding-right: 0;
}

.list__item a {
    color: #ffffff;
}

.list__item a:hover {
    color: #f06c64;
}

.list__item:not(:first-child)::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #505565;
    border-radius: 50%;
    position: absolute;
    left: -2px;
    bottom: 2px;
}

.slider {
    background-color: #f06c64;
}

.slider .wrapper {
    display: flex;
    padding: 52px 0px 64px;
}

.slider__button {
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__prev,
.slider__next {
    width: 20px;
    height: 30px;
    padding-right: 25px;
    border: none;
    background: none;
}

.slider__prev:hover,
.slider__next:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slider__prev {
    transform: rotate(180deg);
}

.slider__btn_left {
    padding: 0 0 0 16px;
}

.slider__btn_right {
    padding: 0 16px 0 0;
}

.slider__slider-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone, .phone__screen-wrapper {
    position: relative;
}

.shadow, .phone__shadow, .phone__container .first-screen {
    position: absolute;
}

.phone {
    width: 242px;
    height: 484px;
    background: url('assets/shadow.png') no-repeat;
    background-size: cover;
}

.horizontal_phone 

.horizontal_phone {
    width: 484px;
    height: 242px;
    bottom: 0;
    background: url('assets/horizontal_shadow.png') no-repeat;
    background-size: cover;
}

.horizontal_phone .phone__container {
    transform: rotate(90deg);
    left: 119px;
    bottom: -96px;

}

.vertical_phone {
    top: 0;
}

.phone__container {
    position: absolute;
    left: -2px;
    z-index: 2;
}

.phone__shadow {
    right: 0;
    bottom: 0;
    z-index: 1  ;
}

.phone__screen-wrapper {
    position: absolute;
    width: 188px;
    height: 333px;
    top: 66px;
    left: 14px;
    overflow: hidden;
    z-index: 3;
}

.horizontal_phone .phone__screen-wrapper {
    top: -59px;
    left: 132px;
    transform: rotate(-90deg);
}

.first-screen {
    position: absolute;
    top: -135px;
    left: -13px;
}

.second-screen {
    position: absolute;
    top: -125px;
    left: -275px;
    transform: rotate(90deg);
}

.services {
    color: #666d89;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    background-color: #f2f2f2;
}

.services .wrapper {
    padding: 68px 83px 0;
}

.services__title {
    margin: 0;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
}

.services__intro-text {
    margin-top: 27px;
}

.services__items {
    padding-top: 16px;
    padding-bottom: 44px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-between;

}

.service {
    display: flex;
    align-items: flex-start;
    padding-top: 11px;
    max-width: 300px;
}

.service__img {
    height: 60px;   
}

.service .text-container {
    padding-left: 18px;
    text-overflow: hidden;
}

.service__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.service__description {
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
}

.portfolio {
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.portfolio .wrapper {
    padding: 0 83px 67px;
}

.section-title {
    margin: 0;
    padding: 69px 0 27px;
    letter-spacing: -0.2px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.section-description {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.tabs {
    display: flex;
    padding: 11px 0 20px;
    margin: 0;
    list-style: none;
}

.tabs__tab {
    background: none;
    padding: 2px 6px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
}

.tabs__tab:hover {
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 18px; 
    overflow: hidden;
    max-height: 601px;
}

.works__work {
    position: relative;
    width: 220px;
    height: 187px;
    overflow: hidden;
}

.work_ship img {
    position: absolute  ;
    top: -13px;
    left: -7px;
}

.work_girl img {
    position: absolute  ;
    top: -42px;
    left: -82px;
}

.work_city img {
    position: absolute  ;
    top: -1px;
    left: -10px;
}

.work_robot img {
    position: absolute  ;
    top: -2px;
    left: -23px;
}

.work_animals img {
    position: absolute  ;
    top: -16px;
    left: -9px;
}

.work_sdk img {
    position: absolute  ;
    top: -4px;
    left: -15px;
}

.work_minirobots img {
    position: absolute  ;
    top: -39px;
    left: -30px;
}

.work_birds img {
    position: absolute  ;
    top: -32px;
    left: -23px;
}

.work_castle img {
    position: absolute  ;
    top: -2px;
    left: -16px;
}

.work_letter img {
    position: absolute  ;
    top: -113px;
    left: -141px;
}

.work_monster img {
    position: absolute  ;
    top: -175px;
    left: -144px;
}

.work_glass img {
    position: absolute  ;
    top: -59px;
    left: -34px;
}

.about {
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
}

.about .wrapper {
    padding: 0 83px 61px;
}

.workers {
    padding-top: 44px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.worker {
    width: 300px;
}

.worker__avatar {
    height: 300px;
    width: 300px;
}

.worker__name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 14px 0 0;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.worker__description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
}

.worker__socials {
    display: flex;
    justify-content: space-between;
    width: 153px;
    margin-top: 20px;
}

.socials__link:hover {
    opacity: 0.7;
}

.get-quote {
    border-bottom: 6px solid #ea676b;
    background-color: #f06c64;
}

.get-quote .wrapper {
    padding: 43px 83px 20px;
    display: grid;
    gap: 20px 21px; 
    grid-template-columns: 1fr 300px;
}
    
.description {
    grid-column: 1 / 3;
}

.get-quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
}

.get-quote__intro-text {
    font-size: 18px;
    line-height: 34px;
    color: #f0d8d9;
    font-weight: 300;
}
    
.form {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.form__field {
    border: none;
    padding: 9px 14px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
}

.form__field:focus {
    outline: none;
    box-shadow: 0 0 0 2px #f48c8f;
}

.form__field:invalid {
    color: #F60;
    box-shadow: 0 0 0 2px #f48c8f;
}

.form__button {
    border:none;
    font-size: 12px;
    background-color: #d6564f;
    color: #f48c8f;
    align-self: flex-start;
    padding: 9px 14px;
    border-radius: 5px;
    transition: .3s;
}

.form__button:hover {
    cursor: pointer;
    background-color: #f48c8f;
    color: #d6564f;
}

.form__field::placeholder {
    color: #f48c8f;
}

.field_comment {
    height: 184px;
    resize: none;
}
    
.contacts {
    grid-column: 2 / 3;
    padding-top: 0;
    color: #f0d8d9;
}

.contacts__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.contacts__info {
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: normal;
}

.contacts__list {
    padding-top: 6px;  
    padding-left: 0;
    list-style: none;
    
}

.contacts__item {
    padding-left: 22px;
    position: relative;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f0d8d9;
    text-decoration: none;
    transition: .3s;
}

a.contacts__item:hover {
    color: #FFF;
}

.item_location::before {
    content: "";
    position: absolute;
    background: url("assets/contact_icons/location.png") no-repeat;    
    left: 3px;
    top: 3px;
    width: 10px;
    height: 12px;
}

.item_phone::before {
    content: "";
    position: absolute;
    background: url("assets/contact_icons/phone.png") no-repeat;
    left: 1px;
    top: 3px;
    width: 13px;
    height: 13px;
}

.item_email::before {
    content: "";
    position: absolute;
    background: url("assets/contact_icons/mail.png") no-repeat;
    left: 0;
    top: 5px;
    width: 20px;
    height: 10px;
}

.footer {
    background-color: #2d303a;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 83px 2px;
}

.copyright {
    padding: 19px 0;
    font-size: 12px;
    font-weight: 400;
    color: #666d89;
}

.links {
    padding-top: 5px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 153px;
}

.links__item {
    transition: .2s;
}

.links__item:hover {
    opacity: .6;
}